@using SmartStore.Web.Framework;
@using SmartStore.Payone.Models;
@model PaymentInfoBaseModel
@{
	Layout = "";
	string redirectionTip = T(Model.ResourceRootKey + ".RedirectionTip");
}

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/SmartStore.Payone/Content/branding.png")" alt="Payone" style="padding-top: 4px;" />
	</span>
	@if(redirectionTip.HasValue() && redirectionTip != "-")
	{
		<div class="media-body">
			@Html.Raw(redirectionTip)
		</div>
	}
</div>