@using SmartStore.Web.Models.Checkout;
@using SmartStore.Payone.Models;
@model PayoneRedirectModel
@{
	Layout = "~/Views/Shared/_Root.cshtml";

	Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page">
	<div id="RedirectInfo">
		@Html.Raw(T("Plugins.SmartStore.Payone.NowRedirecting"))
	</div>
</div>
<form id="PayoneForm" method="POST" action="@Model.RedirectUrl">
	@foreach (var key in Model.RequestData.Values.Keys)
	{
		<input type="hidden" name="@key" value="@Model.RequestData.Values[key].Value" />
	}
</form>
<script type="text/javascript">
	jQuery(document).ready(function () {

		$('#PayoneForm').submit();

	});
</script>