@using SmartStore.OpenTrans.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
}

<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.IsLexwareCompatible)
		</td>
		<td class="adminData">
			@Html.SettingEditorFor(m => m.IsLexwareCompatible)
			@Html.ValidationMessageFor(m => m.IsLexwareCompatible)
		</td>
	</tr>
</table>