@using SmartStore.Web.Framework.UI;
@{
    Layout = "";
}

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/SmartStore.PostFinanceECommerce/Content/branding.png")" alt="PostFinance" />
	</span>
	<div class="media-body">
		@T("Plugins.Payments.PostFinanceECommerce.RedirectionTip")
	</div>
</div>
