@using SmartStore.Billiger.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
}

<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ShippingCostAustria)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.ShippingCostAustria)
			@Html.ValidationMessageFor(m => m.ShippingCostAustria)
		</td>
	</tr>
</table>