@using SmartStore.Web.Framework;
@using SmartStore.Payone.Models;
@model DirectDebitCheckoutConfirmModel
@{
	Html.AddCssFileParts(true, Url.Content("~/Plugins/SmartStore.Payone/Content/SmartStore.payone.css"));
}

<div id="PayoneSepaMandate" class="alert alert-info">
	<div class="payone-mandate-description">
		@Html.Raw(T("Plugins.SmartStore.Payone.DirectDebit.SepaMandateDescription"))
	</div>
	<div class="payone-mandate">
		@Html.Raw(Model.MandateText)
	</div>
	<div class="payone-mandate-confirm">
		<label class="checkbox">
			<input type="checkbox" id="PayoneDirectDebitConfirmMandate" name="PayoneDirectDebitConfirmMandate" />
			@Html.Raw(T("Plugins.SmartStore.Payone.DirectDebit.ConfirmSepaMandate"))
		</label>
	</div>
</div>

<div class="clear"></div>

@Html.Partial("ScriptingCheckoutConfirm", Model)