@using SmartStore.Web.Framework;
@using SmartStore.Payone.Models;
@model OnlineBankTransferPaymentInfoModel
@{
    Layout = "";
}

<div @(Model.BankTransferTypes.Count <= 1 ? "class=\"hide\"" : "")>
	@Html.SmartLabelFor(model => model.BankTransferType, false)
	@Html.DropDownListFor(model => model.BankTransferType, Model.BankTransferTypes, new { data_native_menu = "false" })
</div>

@Html.Partial("BankingPaymentInfo", Model as PaymentInfoBankingBaseModel)