@using SmartStore.Web.Framework;
@using SmartStore.Payone.Models;
@model OnlineBankTransferPaymentInfoModel
@{
    Layout = "";
}

<div class="form-horizontal payone-onlinebanktransfer">
	<div class="control-group@(Model.BankTransferTypes.Count <= 1 ? " hide" : "")">
		@Html.LabelFor(model => model.BankTransferType, new { @class = "control-label" })
		<div class="controls">
			@Html.DropDownList("BankTransferType", Model.BankTransferTypes, new { style = "min-width: 220px;" })
			@Html.ValidationMessageFor(model => model.BankTransferType)
		</div>
	</div>

	@Html.Partial("BankingPaymentInfo", Model as PaymentInfoBankingBaseModel)
</div>