@using SmartStore.CommonExportProviders;
@using SmartStore.CommonExportProviders.Providers;
@{
    Layout = "";
}
<a href="javascript:void(0)" class="btn export-data-button" 
   data-url="@Url.Action("Export", "CommonExportProviders", new { systemName = SubscriberCsvExportProvider.SystemName, exportAll = true, area = CommonExportProvidersPlugin.SystemName })">
	<i class="fa fa-arrow-circle-o-down"></i>&nbsp;@T("Plugins.Data.CommonExportProviders.ExportToCsv")
</a>
@Html.Partial("ExportButtonsGeneral")