@{
	Layout = "";
}
<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/SmartStore.PayDirekt/Content/branding.png")" alt="paydirekt" />
	</span>
	<div class="media-body">
		@T("Plugins.SmartStore.PayDirekt.RedirectionTip")
	</div>
</div>
