@{
	Layout = "";
}
<div class="processing-note">
	<div class="alert alert-info">
		<button class="close" data-dismiss="alert">×</button>
		<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;
		@T("Plugins.SmartStore.ShopConnector.LongRunning")
	</div>
</div>